/*sets colours and the positioning for the delete user page*/
.box[type="text"]{
    width: 500px;
}

.Rules{
    font-size: 18;
    text-align: center;
    float: left;
    background: transparent;
    color: white;
    top: 50%;
    left: 6%;
    margin-left: 20%; 
    position: absolute;
    transform: translate(-50%,-100%); 
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 5px;
}