/* all .login add style the login form*/
.login input{
    width: 100%;
    margin-bottom: 20px; 
}

.login p{
	color: white;
}

.login a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.login a:hover{
    color: grey;
}

.login{
    margin-top: 30px;
    left: 440px;
    color: black;
}